body {
    text-align: center;
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}
video {
    width: 300px;
    border: 1px solid #000;
}
img {
    margin-top: 20px;
    width: 300px;
    border: 2px solid green;
}
